#grid-offline-download .grid-header.status {
	word-break: break-all;
	word-break: break-word;
}

@media screen and (min-width: 1024px) {
	.mini-panel .mini-panel-fieldset {
		height: 136px;
	}

	.mini-panel-list {
		padding-top: 192px;
	}

	.wifisharing-container.popup.after-input .wifisharing-wrap {
		max-width: 145px;
	}

	.main-content {
		max-width: 1059px;
	}

	.page-content-container {
		margin-left: 191px;
	}

	.page-inner::after {
		width: 191px;
	}

	#navigator .navigator-wrap-outer {
		width: 201px;
	}

	.qos-btn-container .qos-btn-wrapper {
		margin: 0 1px;
	}

	#qos-device-priority-grid-panel .grid-header-6.trafficUsage span.content {
		white-space: normal;
		word-break: break-all;
	}

	#backup-button.button-container a.button-button,
	#factory-button.button-container a.button-button,
	#dmz-connected-devices-btn.button-container a.button-button,
	#port-forwarding-connected-devices.button-container a.button-button,
	#yandex-common-service.button-container a.button-button {
		height: auto;
	}
}

.grid-content-td-action-column a.grid-content-btn.btn-internet-access.off span.text {
	width: 80px;
	left: -6px;
}

@media screen and (max-width: 1023px) {
	.grid-content-td-action-column a.grid-content-btn.btn-internet-access.off span.text {
		left: -68%;
	}
}

#guest-network-adv-24g-enable .widget-tips,
#guest-network-adv-5g1-enable .widget-tips,
#guest-network-adv-5g2-enable .widget-tips {
	margin-top: 15px;
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
	#system-log-information .information-panel-tbar-container a.operation-btn + a.operation-btn {
		display: block;
	}

	#connected-clients-grid .grid-header-5 span.content,
	#connected-clients-grid .grid-header-6 span.content,
	#game-connected-clients-grid .grid-header-6 span.content,
	#qos-device-priority-grid-panel .grid-header-6.trafficUsage span.content,
	#qos-device-priority-grid-panel .grid-header-7.enablePriority span.content {
		white-space: normal;
		word-break: break-all;
	}

	#backup-button.button-container a.button-button,
	#factory-button.button-container a.button-button,
	#dmz-connected-devices-btn.button-container a.button-button,
	#port-forwarding-connected-devices.button-container a.button-button,
	#yandex-common-service.button-container a.button-button {
		height: auto;
	}
}

@media screen and (max-width: 767px) {
	.editor-container h3.msg-title {
		padding: 0 111px;
	}

	#networkmap-client-panel-title .panel-title {
		width: 120px;
		word-break: break-word;
	}
}
