@media screen and (max-width: 1023px) {
	.grid-content-td-action-column a.grid-content-btn.btn-internet-access.off span.text {
		left: 0;
	}
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
	#game-connected-clients-grid .grid-header-4 span.content {
		white-space: normal;
		word-break: break-all;
	}
}
