.grid-content-td-action-column a.grid-content-btn.btn-internet-access.off span.text {
	width: 80px;
	left: 0;
}

@media screen and (max-width: 1023px) {
	.grid-content-td-action-column a.grid-content-btn.btn-internet-access.off span.text {
		width: 75px;
		left: -50%;
	}
}
