@media screen and (min-width: 1024px) {
	.networkmap-panel .panel-title {
		height: 40px;
	}

	.split-line.margin-bottom-30,
	#usb-panel,
	#performance-panel,
	#speed-test-panel {
		margin-top: 16px;
	}

	.tp-link-cloud-jump-container {
		text-align: center;
	}

	.tp-link-cloud-jump-container .tp-login-sign-up,
	.tp-link-cloud-jump-container .tp-login-forget-pwd {
		float: none;
		display: block;
		margin: 12px 0;
	}

	div#connected-clients-grid th.grid-header.grid-header-7,
	div#connected-clients-grid td.grid-tool-td.grid-tool-td-7,
	div#connected-clients-grid td.grid-content-td.grid-content-td-7,
	div#grid-ARP th.grid-header.grid-header-5,
	div#grid-ARP td.grid-tool-td.grid-tool-td-5,
	div#grid-ARP td.grid-content-td.grid-content-td-5 {
		width: 15%;
	}

	div#game-connected-clients-grid th.grid-header.grid-header-6,
	div#game-connected-clients-grid td.grid-tool-td.grid-tool-td-6,
	div#game-connected-clients-grid td.grid-content-td.grid-content-td-6 {
		width: 20%;
		white-space: nowrap;
	}
}

@media screen and (min-width: 768px) and (max-width: 920px) {
	.information-panel-tbar-container a.operation-btn + a.operation-btn {
		margin-left: 3px;
	}

	#connected-clients-grid .grid-header-6 span.content {
		white-space: normal;
		word-break: break-all;
	}
}

@media screen and (max-width: 767px) {
	.editor-container h3.msg-title {
		padding: 0 115px;
	}
}
