#grid-offline-download .grid-header.numSeeders,
#grid-offline-download .grid-header.grid-header-actioncolumn {
	word-break: break-all;
	word-break: break-word;
}

@media screen and (min-width: 1024px) {
	.mini-panel .mini-panel-fieldset {
		height: 138px;
	}

	.mini-panel-list {
		padding-top: 194px;
	}

	.grid-content-td-action-column a.grid-content-btn.btn-internet-access.off span.text {
		width: 80px;
		left: -6px;
	}

	#quit-qs-button,
	#switch-mode-button {
		margin-left: 10px;
	}
}

@media screen and (max-width: 1023px) {
	.grid-content-td-action-column a.grid-content-btn.btn-internet-access.off span.text {
		left: -56%;
	}
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
	#system-log-information .information-panel-tbar-container a.operation-btn + a.operation-btn {
		display: block;
	}

	#game-connected-clients-grid .grid-header-6 span.content {
		white-space: normal;
		word-break: break-all;
	}

	.page-bottom {
		padding-right: 16px;
	}

	.page-bottom #support-link {
		margin-right: 10px;
	}

	.page-bottom #save-data {
		margin-left: 10px;
	}
}

@media screen and (max-width: 767px) {
	.editor-container h3.msg-title {
		padding: 0 95px;
	}
}
