@media screen and (min-width: 1024px) {
	#speed-test-mini-panel .fieldset-content .mini-panel-statistics {
		height: 49px;
		margin-top: 0 !important;
		white-space: normal;
		word-wrap: break-word;
	}

	#parental-controls-grid .grid-content-tr .td-content span.text {
		white-space: nowrap;
	}

	div#game-connected-clients-grid th.grid-header.grid-header-6,
	div#game-connected-clients-grid td.grid-tool-td.grid-tool-td-6,
	div#game-connected-clients-grid td.grid-content-td.grid-content-td-6 {
		width: 18%;
		white-space: nowrap;
	}
}

@media screen and (min-width: 768px) and (max-width: 850px) {
	.information-panel-tbar-container a.operation-btn + a.operation-btn {
		margin-left: 6px;
	}
}
