.module-qos .qos-btn-wrapper .text {
	white-space: normal;
	word-break: break-all;
}

#grid-offline-download .grid-header.grid-header-actioncolumn {
	word-break: break-all;
	word-break: break-word;
}

@media screen and (min-width: 1024px) {
	.mini-panel .mini-panel-fieldset {
		height: 138px;
	}

	.mini-panel-list {
		padding-top: 194px;
	}

	.tp-link-cloud-jump-container {
		text-align: center;
	}

	.tp-link-cloud-jump-container .tp-login-sign-up,
	.tp-link-cloud-jump-container .tp-login-forget-pwd {
		float: none;
		display: block;
		margin: 12px 0;
	}

	#wireless-setting-5g2 .block-separate {
		white-space: nowrap;
	}

	#switch-mode-button,
	#quit-qs-button {
		margin-left: 20px;
	}

	div#game-connected-clients-grid th.grid-header.grid-header-6,
	div#game-connected-clients-grid td.grid-tool-td.grid-tool-td-6,
	div#game-connected-clients-grid td.grid-content-td.grid-content-td-6,
	#grid-pptp .grid-header-3,
	#grid-pptp .grid-content-td-3,
	#grid-open-vpn .grid-header-3,
	#grid-open-vpn .grid-content-td-3,
	#grid-pptp-vpn .grid-header-4,
	#grid-pptp-vpn .grid-content-td-4,
	#grid-schedule .grid-header-3,
	#grid-schedule .grid-content-td-3,
	#grid-whitelist .grid-header-5,
	#grid-whitelist .grid-content-td-5,
	#grid-bind .grid-header-4,
	#grid-bind .grid-content-td-4 {
		width: 20%;
		white-space: nowrap;
	}

	#connected-clients-grid .grid-header-8 span.content,
	#parental-controls-grid .grid-header-5 span.content,
	#parental-controls-grid .grid-header-7 span.content,
	#port-forwarding-grid .grid-header-8 span.content,
	#grid-addressList .grid-header-6 span.content,
	#static-routing-grid .grid-header-5 span.content,
	#static-routing-grid .grid-header-7 span.content,
	#static-routing-grid .grid-header-8 span.content,
	#storage-device-grid .grid-header-4 span.content,
	#storage-device-grid .grid-header-5 span.content,
	#port-triggering-grid .grid-header-8 span.content,
	#grid-ARP .grid-header-5 span.content,
	#grid-ARP .grid-header-6 span.content,
	#qos-device-priority-grid-panel .grid-header-6.trafficUsage span.content,
	#qos-device-priority-grid-panel .grid-header-5.downloadSpeed span.content {
		white-space: normal;
		word-break: break-all;
	}

	/* #factory-button.button-container a.button-button,
    #mail-log-btn.button-container a.button-button,
    #save-local-btn.button-container a.button-button{
        height: auto;
    } */
	#grid-yandex-dns .grid-header-settings {
		word-wrap: break-word;
		word-break: break-all;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.tp-link-cloud-jump-container {
		text-align: center;
	}

	.tp-link-cloud-jump-container .tp-login-sign-up,
	.tp-link-cloud-jump-container .tp-login-forget-pwd {
		float: none;
		display: block;
		margin: 12px 0;
	}

	#connected-clients-grid .grid-header-8 span.content,
	#connected-clients-grid .grid-header-6 span.content,
	div#game-connected-clients-grid .grid-header-4 span.content,
	div#game-connected-clients-grid .grid-header-6 span.content,
	div#game-connected-clients-grid .grid-header-7 span.content,
	#qos-device-priority-grid-panel .grid-header-6.trafficUsage span.content,
	#qos-device-priority-grid-panel .grid-header-5.downloadSpeed span.content {
		white-space: normal;
		word-break: break-all;
	}

	#grid-schedule .grid-header-3,
	#grid-schedule .grid-content-td-3 {
		width: 22%;
		white-space: nowrap;
	}

	.information-panel-tbar-container a.operation-btn + a.operation-btn {
		display: block;
	}

	.page-bottom {
		padding-right: 16px;
	}

	.page-bottom #support-link {
		margin-right: 10px;
	}

	.page-bottom #save-data {
		margin-left: 10px;
	}

	/* #factory-button.button-container a.button-button,
    #mail-log-btn.button-container a.button-button,
    #save-local-btn.button-container a.button-button{
        height: auto;
    } */
}

@media screen and (max-width: 767px) {
	.wifisharing-container.popup .wifisharing-sharing-btn {
		max-width: 115px;
	}

	.button-container a.button-button {
		height: auto;
	}

	.editor-container h3.msg-title {
		padding: 0 115px;
	}
}
