@media screen and (min-width: 1024px) {
	.mini-panel .mini-panel-fieldset {
		height: 160px;
	}

	.mini-panel-list {
		padding-top: 216px;
	}

	.networkmap-panel .panel-title {
		height: 40px;
	}

	.split-line.margin-bottom-30,
	#usb-panel,
	#performance-panel,
	#speed-test-panel {
		margin-top: 16px;
	}

	div#game-connected-clients-grid th.grid-header.grid-header-6,
	div#game-connected-clients-grid td.grid-tool-td.grid-tool-td-6,
	div#game-connected-clients-grid td.grid-content-td.grid-content-td-6 {
		width: 18%;
		white-space: nowrap;
	}
}

@media screen and (max-width: 1023px) {
	.grid-content-td-action-column a.grid-content-btn.btn-internet-access.off span.text {
		width: 55px;
	}
}

@media screen and (min-width: 768px) and (max-width: 930px) {
	.information-panel-tbar-container a.operation-btn + a.operation-btn {
		margin-left: 4px;
	}
}

@media screen and (max-width: 767px) {
	.editor-container h3.msg-title {
		padding: 0 135px;
	}
}
