@media screen and (max-width: 1023px) and (min-width: 768px) {
	#system-log-information .information-panel-tbar-container a.operation-btn + a.operation-btn {
		margin-left: 2px;
	}

	#qos-device-priority-grid-panel .grid-header-7.enablePriority span.content {
		white-space: normal;
		word-break: break-all;
	}
}

@media screen and (max-width: 767px) {
	.editor-container h3.msg-title {
		padding: 0 108px;
	}
}
