@media screen and (max-width: 1023px) and (min-width: 768px) {
	#system-log-information .information-panel-tbar-container a.operation-btn + a.operation-btn {
		display: block;
	}

	#connected-clients-grid .grid-header-6 span.content {
		white-space: normal;
		word-break: break-all;
	}
}
