@media screen and (min-width: 1024px) {
	.networkmap-panel .panel-title {
		height: 45px;
	}

	.mini-panel .mini-panel-fieldset {
		height: 130px;
	}

	.mini-panel-list {
		padding-top: 207px;
	}

	.map-item .map-router-bar .map-router-item-container {
		padding-left: 7px;
		padding-right: 7px;
	}

	.main-content {
		max-width: 1059px;
	}

	.page-content-container {
		margin-left: 191px;
	}

	.page-inner::after {
		width: 191px;
	}

	#navigator .navigator-wrap-outer {
		width: 201px;
	}

	#qos-device-priority-grid-panel .grid-header-6.trafficUsage span.content {
		white-space: normal;
		word-break: break-all;
	}

	#dmz-connected-devices-btn.button-container a.button-button,
	#port-forwarding-connected-devices.button-container a.button-button,
	#yandex-common-service.button-container a.button-button {
		height: auto;
	}

	#grid-offline-download-panel .grid-header-4 span.content,
	#grid-offline-download-panel .grid-header-5 span.content {
		white-space: normal;
		word-break: break-all;
	}
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
	.map-item .map-router-bar .map-router-item-container {
		padding-left: 2px;
		padding-right: 2px;
	}

	#system-log-information .information-panel-tbar-container a.operation-btn + a.operation-btn {
		display: block;
	}

	#game-connected-clients-grid .grid-header-4 span.content,
	#game-connected-clients-grid .grid-header-6 span.content,
	#game-connected-clients-grid .grid-header-7 span.content,
	#qos-device-priority-grid-panel .grid-header-6.trafficUsage span.content {
		white-space: normal;
		word-break: break-all;
	}

	#dmz-connected-devices-btn.button-container a.button-button,
	#port-forwarding-connected-devices.button-container a.button-button,
	#yandex-common-service.button-container a.button-button {
		height: auto;
	}
}

@media screen and (min-width: 768px) {
	.combobox-container.schedule-time-from .widget-fieldlabel-inner {
		transform: translateY(-16%);
	}

	.combobox-container.schedule-time-from .widget-fieldlabel-inner .time-fieldlabel {
		display: inline-block;
		width: 100px;
	}

	.combobox-container.schedule-time-from .widget-fieldlabel-inner .time-sub-fieldlabel {
		vertical-align: top;
	}

	#static-routing-grid .grid-header-container table th.grid-header span.content,
	#connected-clients-grid .grid-header-container table th.grid-header span.content,
	#parental-controls-grid .grid-header-container table th.grid-header span.content {
		word-break: break-all;
	}

	#static-routing-grid .grid-header-container table th.grid-header,
	#connected-clients-grid .grid-header-container table th.grid-header,
	#parental-controls-grid .grid-header-container table th.grid-header {
		word-wrap: break-word;
		overflow-wrap: break-word;
	}
}

@media screen and (max-width: 767px) {
	.map-item .map-router-bar {
		width: 96px;
	}

	.map-item .map-router-bar .map-router-item-container {
		width: 32px;
	}

	.map-item .map-router-bar .map-router-item-container .icon {
		margin: 0 auto;
	}

	.editor-container h3.msg-title {
		padding: 0 125px;
	}

	#networkmap-client-panel-title .panel-title {
		width: 120px;
		word-break: break-word;
	}
}

.steps-container .step-item-text {
	top: -27px;
}

#grid-offline-download .grid-header.numSeeders,
#grid-offline-download .grid-header.downloadSpeed {
	word-break: break-all;
	word-break: break-word;
}
