#grid-offline-download .grid-header.status {
	word-break: break-all;
	word-break: break-word;
}

@media screen and (min-width: 1024px) {
	.mini-panel .mini-panel-fieldset {
		height: 138px;
	}

	.mini-panel-list {
		padding-top: 194px;
	}

	#factory-button.button-container a.button-button {
		height: auto;
	}
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
	#system-log-information .information-panel-tbar-container a.operation-btn + a.operation-btn {
		margin-left: 2px;
	}

	#map-clients-access-control-btn {
		width: 180px;
	}

	#game-connected-clients-grid .grid-header-6 span.content {
		white-space: normal;
		word-break: break-all;
	}

	#factory-button.button-container a.button-button {
		height: auto;
	}
}
