@media screen and (min-width: 1024px) {
	#static-routing-grid .grid-header-4 span.content,
	#static-routing-grid .grid-header-5 span.content,
	#qos-device-priority-grid-panel .grid-header-6.trafficUsage span.content {
		white-space: normal;
		word-break: break-all;
	}
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
	#system-log-information .information-panel-tbar-container a.operation-btn + a.operation-btn {
		margin-left: 2px;
	}

	#connected-clients-grid .grid-header-5 span.content,
	#connected-clients-grid .grid-header-6 span.content,
	#qos-device-priority-grid-panel .grid-header-6.trafficUsage span.content {
		white-space: normal;
		word-break: break-all;
	}
}

@media screen and (max-width: 767px) {
	.editor-container h3.msg-title {
		padding: 0 100px;
	}
}
