.grid-content-td-action-column a.grid-content-btn.btn-internet-access.off span.text {
	width: 100px;
	left: -15px;
}

@media screen and (min-width: 1024px) {
	.main-content {
		max-width: 1059px;
	}

	.page-content-container {
		margin-left: 191px;
	}

	.page-inner::after {
		width: 191px;
	}

	#navigator .navigator-wrap-outer {
		width: 201px;
	}

	div#game-connected-clients-grid th.grid-header.grid-header-6,
	div#game-connected-clients-grid td.grid-tool-td.grid-tool-td-6,
	div#game-connected-clients-grid td.grid-content-td.grid-content-td-6 {
		width: 20%;
		white-space: nowrap;
	}

	div#connected-clients-grid th.grid-header.grid-header-5,
	div#connected-clients-grid td.grid-tool-td.grid-tool-td-5,
	div#connected-clients-grid td.grid-content-td.grid-content-td-5 {
		width: 22%;
	}

	div#static-routing-grid th.grid-header.grid-header-4,
	div#static-routing-grid td.grid-tool-td.grid-tool-td-4,
	div#static-routing-grid td.grid-content-td.grid-content-td-4 {
		width: 16%;
	}

	div#static-routing-grid th.grid-header.grid-header-5,
	div#static-routing-grid td.grid-tool-td.grid-tool-td-5,
	div#static-routing-grid td.grid-content-td.grid-content-td-5 {
		width: 12%;
	}

	#parental-controls-grid .grid-header-6 span.content,
	#static-routing-grid .grid-header-1 span.content,
	#static-routing-grid .grid-header-2 span.content,
	#port-triggering-grid .grid-header-3 span.content,
	#port-triggering-grid .grid-header-4 span.content,
	#qos-device-priority-grid-panel .grid-header-6.trafficUsage span.content,
	#qos-device-priority-grid-panel .grid-header-5.downloadSpeed span.content {
		white-space: normal;
		word-break: break-all;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	#connected-clients-grid .grid-header span.content,
	#game-connected-clients-grid .grid-header-5 span.content,
	#game-connected-clients-grid .grid-header-6 span.content,
	#qos-device-priority-grid-panel .grid-header-6.trafficUsage span.content,
	#qos-device-priority-grid-panel .grid-header-5.downloadSpeed span.content {
		white-space: normal;
		word-break: break-all;
	}
}

@media screen and (max-width: 767px) {
	.editor-container h3.msg-title {
		padding: 0 105px;
	}
}
