@media screen and (min-width: 1024px) {
	.mini-panel .mini-panel-fieldset {
		height: 136px;
	}

	.mini-panel-list {
		padding-top: 192px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	#system-log-information .information-panel-tbar-container a.operation-btn + a.operation-btn {
		display: block;
	}

	#connected-clients-grid .grid-header-5 span.content,
	#connected-clients-grid .grid-header-6 span.content {
		white-space: normal;
		word-break: break-all;
	}
}

@media screen and (max-width: 767px) {
	.editor-container h3.msg-title {
		padding: 0 110px;
	}
}
