@media screen and (min-width: 1024px) {
	div#game-connected-clients-grid th.grid-header.grid-header-6,
	div#game-connected-clients-grid td.grid-tool-td.grid-tool-td-6,
	div#game-connected-clients-grid td.grid-content-td.grid-content-td-6 {
		width: 20%;
		white-space: nowrap;
	}

	#speed-test-mini-panel .fieldset-content .mini-panel-statistics,
	#performance-mini-panel .fieldset-content .mini-panel-statistics,
	#qos-device-priority-grid-panel .grid-header-6.trafficUsage span.content {
		height: 49px;
		margin-top: 0 !important;
		white-space: normal;
		word-wrap: break-word;
	}
}

@media screen and (min-width: 931px) and (max-width: 1023px) {
	div#game-connected-clients-grid th.grid-header.grid-header-6,
	div#game-connected-clients-grid td.grid-tool-td.grid-tool-td-6,
	div#game-connected-clients-grid td.grid-content-td.grid-content-td-6 {
		width: 18%;
	}

	#system-log-information .btn-clear {
		margin-left: 4px;
	}

	#qos-device-priority-grid-panel .grid-header-6.trafficUsage span.content {
		height: 49px;
		margin-top: 0 !important;
		white-space: normal;
		word-wrap: break-word;
	}
}

@media screen and (min-width: 768px) and (max-width: 930px) {
	div#game-connected-clients-grid th.grid-header-6 span.content,
	#qos-device-priority-grid-panel .grid-header-6.trafficUsage span.content {
		word-break: break-all;
	}

	#system-log-information .btn-clear {
		display: block;
	}
}
