@media screen and (min-width: 1024px) {
	div#game-connected-clients-grid th.grid-header.grid-header-6,
	div#game-connected-clients-grid td.grid-tool-td.grid-tool-td-6,
	div#game-connected-clients-grid td.grid-content-td.grid-content-td-6 {
		width: 18%;
		white-space: nowrap;
	}

	div#static-routing-grid th.grid-header.grid-header-6,
	div#static-routing-grid td.grid-tool-td.grid-tool-td-6,
	div#static-routing-grid td.grid-content-td.grid-content-td-6 {
		width: 16%;
	}

	div#static-routing-grid th.grid-header.grid-header-5,
	div#static-routing-grid td.grid-tool-td.grid-tool-td-5,
	div#static-routing-grid td.grid-content-td.grid-content-td-5 {
		width: 12%;
	}
}

@media screen and (min-width: 768px) and (max-width: 920px) {
	#system-log-information .btn-clear {
		margin-left: 4px;
	}
}

@media screen and (max-width: 767px) {
	.editor-container h3.msg-title {
		padding: 0 120px;
	}
}
