#grid-offline-download .grid-header.downloadSpeed {
	word-break: break-all;
	word-break: break-word;
}

@media screen and (min-width: 1024px) {
	.main-content {
		max-width: 1059px;
	}

	.page-content-container {
		margin-left: 191px;
	}

	.page-inner::after {
		width: 191px;
	}

	#navigator .navigator-wrap-outer {
		width: 201px;
	}

	#speed-test-mini-panel .fieldset-content .mini-panel-statistics {
		height: 49px;
		margin-top: 0 !important;
		white-space: normal;
		word-wrap: break-word;
	}

	div#game-connected-clients-grid th.grid-header.grid-header-6,
	div#game-connected-clients-grid td.grid-tool-td.grid-tool-td-6,
	div#game-connected-clients-grid td.grid-content-td.grid-content-td-6 {
		width: 20%;
		white-space: nowrap;
	}

	#static-routing-grid .grid-header-6,
	#static-routing-grid .grid-content-td-6 {
		width: 15%;
	}

	#port-triggering-grid .grid-header-1,
	#port-triggering-grid .grid-content-td-1 {
		width: 18%;
	}

	#upnp-client-grid .grid-header-1,
	#upnp-client-grid .grid-content-td-1 {
		width: 25%;
	}

	#parental-controls-grid .grid-header-3 span.content,
	#parental-controls-grid .grid-header-6 span.content,
	#port-forwarding-grid .grid-header-1 span.content,
	#static-routing-grid .grid-header-5 span.content,
	#qos-device-priority-grid-panel .grid-header-6.trafficUsage span.content,
	#qos-device-priority-grid-panel .grid-header-5.downloadSpeed span.content {
		white-space: normal;
		word-break: break-all;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	div#game-connected-clients-grid .grid-header-5 span.content,
	div#game-connected-clients-grid .grid-header-6 span.content,
	#connected-clients-grid .grid-header-5 span.content,
	#connected-clients-grid .grid-header-6 span.content,
	#qos-device-priority-grid-panel .grid-header-6.trafficUsage span.content,
	#qos-device-priority-grid-panel .grid-header-5.downloadSpeed span.content {
		white-space: normal;
		word-break: break-all;
	}

	.page-bottom {
		padding-right: 16px;
	}

	.page-bottom #support-link {
		margin-right: 10px;
	}

	.page-bottom #save-data {
		margin-left: 10px;
	}
}
