@media screen and (min-width: 1024px) {
	.main-content {
		max-width: 1059px;
	}

	.page-content-container {
		margin-left: 191px;
	}

	.page-inner::after {
		width: 191px;
	}

	#navigator .navigator-wrap-outer {
		width: 201px;
	}

	.mini-panel .mini-panel-fieldset {
		height: 138px;
	}

	.mini-panel-list {
		padding-top: 194px;
	}

	.tp-link-cloud-jump-container {
		text-align: center;
	}

	.tp-link-cloud-jump-container .tp-login-sign-up,
	.tp-link-cloud-jump-container .tp-login-forget-pwd {
		float: none;
		display: block;
		margin: 12px 0;
	}

	div#game-connected-clients-grid th.grid-header.grid-header-6,
	div#game-connected-clients-grid td.grid-tool-td.grid-tool-td-6,
	div#game-connected-clients-grid td.grid-content-td.grid-content-td-6 {
		width: 21%;
		white-space: nowrap;
	}

	#parental-controls-grid .grid-header-6 span.content,
	#static-routing-grid .grid-header-5 span.content,
	#static-routing-grid .grid-header-6 span.content,
	#storage-device-grid .grid-header-4 span.content,
	#port-triggering-grid .grid-header-4 span.content,
	#upnp-client-grid .grid-header-1 span.content,
	#qos-device-priority-grid-panel .grid-header-6.trafficUsage span.content {
		white-space: normal;
		word-break: break-all;
	}

	#dmz-connected-devices-btn.button-container a.button-button {
		height: auto;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.tp-link-cloud-jump-container {
		text-align: center;
	}

	.tp-link-cloud-jump-container .tp-login-sign-up,
	.tp-link-cloud-jump-container .tp-login-forget-pwd {
		float: none;
		display: block;
		margin: 12px 0;
	}

	#connected-clients-grid .grid-header-5 span.content,
	#connected-clients-grid .grid-header-6 span.content,
	#connected-clients-grid .grid-header-7 span.content,
	#game-connected-clients-grid .grid-header-5 span.content,
	#game-connected-clients-grid .grid-header-6 span.content {
		white-space: normal;
		word-break: break-all !important;
	}

	#dmz-connected-devices-btn.button-container a.button-button {
		height: auto;
	}
}

@media screen and (min-width: 768px) and (max-width: 960px) {
	.information-panel-tbar-container a.operation-btn + a.operation-btn {
		margin-left: 3px;
	}
}

@media screen and (max-width: 767px) {
	#port-forwarding-grid_popEditor-msg.editor-container h3.msg-title {
		padding: 0 120px;
	}
}
