@media screen and (min-width: 1024px) {
	#speed-test-mini-panel .mini-panel-statistics .title {
		word-break: break-all;
	}

	.mini-panel .mini-panel-fieldset {
		height: 138px;
	}

	.mini-panel-list {
		padding-top: 194px;
	}

	.main-content {
		max-width: 1059px;
	}

	.page-content-container {
		margin-left: 191px;
	}

	.page-inner::after {
		width: 191px;
	}

	#navigator .navigator-wrap-outer {
		width: 201px;
	}

	.qos-btn-container .qos-btn-wrapper {
		margin: 0 6px;
	}

	#qos-device-priority-grid-panel .grid-header-6.trafficUsage span.content {
		white-space: normal;
		word-break: break-all;
	}
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
	#system-log-information .information-panel-tbar-container a.operation-btn + a.operation-btn {
		margin-left: 2px;
	}

	#qos-device-priority-grid-panel .grid-header-6.trafficUsage span.content {
		white-space: normal;
		word-break: break-all;
	}
}

.steps-container .step-item-text {
	top: -27px;
}
